
.about {
    img {
        max-width: 100%;
    }
    h2 {
        font-size: 40px;
        margin-bottom: 0px;
    }

    h3 {
        font-size: 20px;
        margin: 8px 0px 15px;
    }

    p{
        margin-bottom:20px;
        text-align:left;
    }
}


.resume {
    margin-top:30px;
    img {
        max-width: 100%;
    }
}
